
process {
    withName: "PREPROC_NORMALIZE" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.dwi_shell_tolerance = '20'
        ext.fa_mask_threshold = '0.4'
        ext.max_dti_shell_value = '1200'
        ext.single_thread = true
    }
}
