/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:TRACTOFLOW:TRANSFORM_WMPARC" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: ".*:TRACTOFLOW:TRANSFORM_APARC_ASEG" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "MultiLabel"
        ext.output_dtype    = "short"
        ext.default_val     = 0
    }

    withName: ".*:TRACTOFLOW:TRANSFORM_LESION_MASK" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: ".*:TRACTOFLOW:TRANSFORM_BRAINMASK" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: ".*:TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FASTSEG" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat" : "${params.outdir}/${meta.id}/anat" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename ->
                if (filename.endsWith("mask_wm.nii.gz")) { "${meta.id}${meta.session}_label-WM_desc-fastseg_mask.nii.gz" }
                else if (filename.endsWith("mask_gm.nii.gz")) { "${meta.id}${meta.session}_label-GM_desc-fastseg_mask.nii.gz" }
                else if (filename.endsWith("mask_csf.nii.gz")) { "${meta.id}${meta.session}_label-CSF_desc-fastseg_mask.nii.gz" }
                else if (filename.endsWith("map_wm.nii.gz")) { "${meta.id}${meta.session}_label-WM_desc-fastseg_probseg.nii.gz" }
                else if (filename.endsWith("map_gm.nii.gz")) { "${meta.id}${meta.session}_label-GM_desc-fastseg_probseg.nii.gz" }
                else if (filename.endsWith("map_csf.nii.gz")) { "${meta.id}${meta.session}_label-CSF_desc-fastseg_probseg.nii.gz" }
                else { null }
            }
        ]
    }

    withName: ".*:TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FREESURFERSEG" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat" : "${params.outdir}/${meta.id}/anat" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename ->
                if (filename.endsWith("mask_wm.nii.gz")) { "${meta.id}${meta.session}_label-WM_desc-freesurfer_mask.nii.gz" }
                else if (filename.endsWith("mask_gm.nii.gz")) { "${meta.id}${meta.session}_label-GM_desc-freesurfer_mask.nii.gz" }
                else if (filename.endsWith("mask_csf.nii.gz")) { "${meta.id}${meta.session}_label-CSF_desc-freesurfer_mask.nii.gz" }
                else { null }
            }
        ]
    }
}
