/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params.use_template_t2w = false

process {
    withName: '.*:OUTPUT_TEMPLATE_SPACE:UTILS_TEMPLATEFLOW' {
        publishDir = [
            path: "${params.templateflow_home}/",
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( filename.endsWith("${params.template}") ) { "tpl-${params.template}" }
                else if ( filename.contains("${params.template}_metadata") ) { "tpl-${params.template}_metadata.json" }
                else if ( filename.contains("${params.template}_citations") ) { "tpl-${params.template}_citations.bib" }
                else if ( filename.equals("versions.yml") ) { null }
            }
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:BET_T1W' {
        ext.bet_f = 0.6
        ext.crop = false
        ext.dilate = false
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:REGISTRATION_ANTS' {
        ext.transform = 's'
        ext.quick = false
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session, meta.run].findAll().join("_")
                    if ( filename.contains("warped.nii.gz") ) { "${prefix}_space-${params.template}_desc-preproc_T1w.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/xfm/" : "${params.outdir}/${meta.id}/xfm/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session, meta.run].findAll().join("_")
                    if ( filename.contains("0Warp.nii.gz") ) { "${prefix}_from-dwi_to-${params.template}_mode-image_desc-warp_xfm.nii.gz" }
                    else if ( filename.contains("1GenericAffine.mat") ) { "${prefix}_from-dwi_to-${params.template}_mode-image_desc-affine_xfm.mat" }
                    else if ( filename.contains("1InverseWarp.nii.gz") ) { "${prefix}_from-${params.template}_to-dwi_mode-image_desc-warp_xfm.nii.gz" }
                    else if ( filename.contains("0InverseAffine.mat") ) { "${prefix}_from-${params.template}_to-dwi_mode-image_desc-affine_xfm.mat" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPIMAGES' {
        ext.interpolation = 'Linear'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "float"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("WM_probseg") ) { "${prefix}_space-${params.template}_label-WM_probseg.nii.gz" }
                    else if ( filename.contains("GM_probseg") ) { "${prefix}_space-${params.template}_label-GM_probseg.nii.gz" }
                    else if ( filename.contains("CSF_probseg") ) { "${prefix}_space-${params.template}_label-CSF_probseg.nii.gz" }
                    else if ( filename.contains("map_wm") ) { "${prefix}_space-${params.template}_label-WM_probseg.nii.gz" }
                    else if ( filename.contains("map_gm") ) { "${prefix}_space-${params.template}_label-GM_probseg.nii.gz" }
                    else if ( filename.contains("map_csf") ) { "${prefix}_space-${params.template}_label-CSF_probseg.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("ad") && filename.contains("desc-fwc")){
                        "${prefix}_space-${params.template}_model-tensor_param-ad_desc-fwc_dwimap.nii.gz"
                    }
                    else if ( filename.contains("fa") && filename.contains("desc-fwc")){
                        "${prefix}_space-${params.template}_model-tensor_param-fa_desc-fwc_dwimap.nii.gz"
                    }
                    else if ( filename.contains("rd") && filename.contains("desc-fwc")){
                        "${prefix}_space-${params.template}_model-tensor_param-rd_desc-fwc_dwimap.nii.gz"
                    }
                    else if ( filename.contains("md") && filename.contains("desc-fwc")){
                        "${prefix}_space-${params.template}_model-tensor_param-md_desc-fwc_dwimap.nii.gz"
                    }
                    else if ( filename.contains("_ad_") ) { "${prefix}_space-${params.template}_model-tensor_param-ad_dwimap.nii.gz" }
                    else if ( filename.contains("_fa_") ) { "${prefix}_space-${params.template}_model-tensor_param-fa_dwimap.nii.gz" }
                    else if ( filename.contains("_rd_") ) { "${prefix}_space-${params.template}_model-tensor_param-rd_dwimap.nii.gz" }
                    else if ( filename.contains("_md_") ) { "${prefix}_space-${params.template}_model-tensor_param-md_dwimap.nii.gz" }

                    else if ( filename.contains("_mode_") ) { "${prefix}_space-${params.template}_model-tensor_param-mode_dwimap.nii.gz" }
                    else if ( filename.contains("_ga_") ) { "${prefix}_space-${params.template}_model-tensor_param-ga_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_total_") ) { "${prefix}_space-${params.template}_model-csd_param-afdtotal_dwimap.nii.gz" }
                    else if ( filename.contains("_nufo_") ) { "${prefix}_space-${params.template}_model-csd_param-nufo_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_max_") ) { "${prefix}_space-${params.template}_model-csd_param-afdmax_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_sum_") ) { "${prefix}_space-${params.template}_model-csd_param-afdsum_dwimap.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPRGB' {
        ext.interpolation = 'Linear'
        ext.dimensionality = 3
        ext.image_type = 3
        ext.output_dtype = "uchar"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("_rgb_") ) { "${prefix}_space-${params.template}_model-tensor_param-rgb_dwimap.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPMASK' {
        ext.interpolation = 'NearestNeighbor'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "int"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("mask_wm") ) { "${prefix}_space-${params.template}_label-WM_mask.nii.gz" }
                    else if ( filename.contains("mask_gm") ) { "${prefix}_space-${params.template}_label-GM_mask.nii.gz" }
                    else if ( filename.contains("mask_csf") ) { "${prefix}_space-${params.template}_label-CSF_mask.nii.gz" }
                    else if ( filename.contains("wm_mask") ) { "${prefix}_space-${params.template}_label-WM_mask.nii.gz" }
                    else if ( filename.contains("gm_mask") ) { "${prefix}_space-${params.template}_label-GM_mask.nii.gz" }
                    else if ( filename.contains("csf_mask") ) { "${prefix}_space-${params.template}_label-CSF_mask.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPLABELS' {
        ext.interpolation = 'NearestNeighbor'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "int"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("labels") ) { "${prefix}_space-${params.template}_seg-DK_dseg.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:REGISTRATION_TRACTOGRAM' {
        ext.inverse = true
        ext.force = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
        ext.suffix = "warped"
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("pft_tracking") ) { "${prefix}_space-${params.template}_tract-wholebrain_track-pft_tractogram.trk" }
                    else if ( filename.contains("local_tracking") ) { "${prefix}_space-${params.template}_tract-wholebrain_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("concatenated_tractogram") ) { "${prefix}_space-${params.template}_tract-wholebrain_track-sdstream_desc-ensemble_tractogram.trk" }
                    else if ( filename.contains("commit") ) { "${prefix}_space-${params.template}_tract-wholebrain_seg-DK_desc-filtered_tractogram.h5" }
                    else if ( filename.contains("afd_fixel.h5") ) { "${prefix}_space-${params.template}_tract-wholebrain_seg-DK_desc-preproc_tractogram.h5" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/bundles/" : "${params.outdir}/${meta.id}/dwi/bundles/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def prefix = [meta.id, meta.session].findAll().join("_")
                    if ( filename.contains("AC_labels") ) { "${prefix}_space-${params.template}_tract-AnteriorCommisure_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("AF_L") ) { "${prefix}_space-${params.template}_tract-ArcuateFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("AF_R") ) { "${prefix}_space-${params.template}_tract-ArcuateFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Fr_1") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumFrontal1_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Fr_2") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumFrontal2_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Oc") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumOccipital_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Pa") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumParietal_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Pr_Po") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumPrecentralPostcentral_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CC_Te") ) { "${prefix}_space-${params.template}_tract-CorpusCallosumTemporal_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_L_An") ) { "${prefix}_space-${params.template}_tract-CingulumAnterior_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_L_curve") ) { "${prefix}_space-${params.template}_tract-CingulumCurve_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_L_Po") ) { "${prefix}_space-${params.template}_tract-CingulumPosterior_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_L_labels") ) { "${prefix}_space-${params.template}_tract-Cingulum_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_R_An") ) { "${prefix}_space-${params.template}_tract-CingulumAnterior_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_R_curve") ) { "${prefix}_space-${params.template}_tract-CingulumCurve_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_R_Po") ) { "${prefix}_space-${params.template}_tract-CingulumPosterior_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("CG_R_labels") ) { "${prefix}_space-${params.template}_tract-Cingulum_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FAT_L") ) { "${prefix}_space-${params.template}_tract-FrontalAslantTract_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FAT_R") ) { "${prefix}_space-${params.template}_tract-FrontalAslantTract_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FPT_L_Brainstem") ) { "${prefix}_space-${params.template}_tract-FrontoPontineTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FPT_L_labels") ) { "${prefix}_space-${params.template}_tract-FrontoPontineTract_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FPT_R_Brainstem") ) { "${prefix}_space-${params.template}_tract-FrontoPontineTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FPT_R_labels") ) { "${prefix}_space-${params.template}_tract-FrontoPontineTract_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FX_L") ) { "${prefix}_space-${params.template}_tract-Fornix_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("FX_R") ) { "${prefix}_space-${params.template}_tract-Fornix_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("ICP_L") ) { "${prefix}_space-${params.template}_tract-InferiorCerebellarPeduncle_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("ICP_R") ) { "${prefix}_space-${params.template}_tract-InferiorCerebellarPeduncle_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("IFOF_L") ) { "${prefix}_space-${params.template}_tract-InferiorFrontoOccipitalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("IFOF_R") ) { "${prefix}_space-${params.template}_tract-InferiorFrontoOccipitalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("ILF_L") ) { "${prefix}_space-${params.template}_tract-InferiorLongitudinalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("ILF_R") ) { "${prefix}_space-${params.template}_tract-InferiorLongitudinalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("MCP") ) { "${prefix}_space-${params.template}_tract-MiddleCerebellarPeduncle_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("MdLF_L") ) { "${prefix}_space-${params.template}_tract-MiddleLongitudinalFascicle_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("MdLF_R") ) { "${prefix}_space-${params.template}_tract-MiddleLongitudinalFascicle_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("OR_ML_L") ) { "${prefix}_space-${params.template}_tract-OpticRadiationMeyersLoop_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("OR_ML_R") ) { "${prefix}_space-${params.template}_tract-OpticRadiationMeyersLoop_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("PC_labels") ) { "${prefix}_space-${params.template}_tract-PosteriorCommisure_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("POPT_L_Brainstem") ) { "${prefix}_space-${params.template}_tract-ParietoOccipitoPontineTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("POPT_R_Brainstem") ) { "${prefix}_space-${params.template}_tract-ParietoOccipitoPontineTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("POPT_L_labels") ) { "${prefix}_space-${params.template}_tract-ParietoOccipitoPontineTract_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("POPT_R_labels") ) { "${prefix}_space-${params.template}_tract-ParietoOccipitoPontineTract_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("PYT_L_Brainstem") ) { "${prefix}_space-${params.template}_tract-PyramidalTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("PYT_R_Brainstem") ) { "${prefix}_space-${params.template}_tract-PyramidalTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("PYT_L") ) { "${prefix}_space-${params.template}_tract-PyramidalTract_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("PYT_R") ) { "${prefix}_space-${params.template}_tract-PyramidalTract_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("SCP_L") ) { "${prefix}_space-${params.template}_tract-SuperiorCerebellarPeduncle_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("SCP_R") ) { "${prefix}_space-${params.template}_tract-SuperiorCerebellarPeduncle_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("SLF_L") ) { "${prefix}_space-${params.template}_tract-SuperiorLongitudinalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("SLF_R") ) { "${prefix}_space-${params.template}_tract-SuperiorLongitudinalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("UF_L") ) { "${prefix}_space-${params.template}_tract-UncinateFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("UF_R") ) { "${prefix}_space-${params.template}_tract-UncinateFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                    else if ( filename.contains("versions.yml") ) { null }
                    else { params.clean_output ? null : filename }
                }
            ]
        ]
    }
}
