/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params.use_template_t2w = false

process {
    withName: '.*:OUTPUT_TEMPLATE_SPACE:UTILS_TEMPLATEFLOW' {
        publishDir = [
            path: "${params.templateflow_home}/",
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( filename.endsWith("${params.template}") ) { "tpl-${params.template}" }
                else if ( filename.contains("${params.template}_metadata") ) { "tpl-${params.template}_metadata.json" }
                else if ( filename.contains("${params.template}_citations") ) { "tpl-${params.template}_citations.bib" }
                else if ( filename.equals("versions.yml") ) { null }
            }
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:BET_T1W' {
        ext.bet_f = 0.6
        ext.crop = false
        ext.dilate = false
        ext.
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:REGISTRATION_ANTS' {
        ext.transform = 's'
        ext.quick = false
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    def mod = (meta.age < 2.5 || meta.age > 18) ? "T2w" : "T1w"
                    if ( filename.contains("warped.nii.gz") ) { "${meta.id}_${ses}space-${params.template}_desc-preproc_${mod}.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/xfm/" : "${params.outdir}/${meta.id}/xfm/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("0Warp.nii.gz") ) { "${meta.id}_${ses}from-dwi_to-${params.template}_mode-image_desc-warp_xfm.nii.gz" }
                    else if ( filename.contains("1GenericAffine.mat") ) { "${meta.id}_${ses}from-dwi_to-${params.template}_mode-image_desc-affine_xfm.mat" }
                    else if ( filename.contains("1InverseWarp.nii.gz") ) { "${meta.id}_${ses}from-${params.template}_to-dwi_mode-image_desc-warp_xfm.nii.gz" }
                    else if ( filename.contains("0InverseAffine.mat") ) { "${meta.id}_${ses}from-${params.template}_to-dwi_mode-image_desc-affine_xfm.mat" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPIMAGES' {
        ext.interpolation = 'Linear'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "float"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("WM_probseg") ) { "${meta.id}_${ses}space-${params.template}_label-WM_probseg.nii.gz" }
                    else if ( filename.contains("GM_probseg") ) { "${meta.id}_${ses}space-${params.template}_label-GM_probseg.nii.gz" }
                    else if ( filename.contains("CSF_probseg") ) { "${meta.id}_${ses}space-${params.template}_label-CSF_probseg.nii.gz" }
                    else if ( filename.contains("map_wm") ) { "${meta.id}_${ses}space-${params.template}_label-WM_probseg.nii.gz" }
                    else if ( filename.contains("map_gm") ) { "${meta.id}_${ses}space-${params.template}_label-GM_probseg.nii.gz" }
                    else if ( filename.contains("map_csf") ) { "${meta.id}_${ses}space-${params.template}_label-CSF_probseg.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("ad") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-ad_dwimap.nii.gz" }
                    else if ( filename.contains("_fa_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-fa_dwimap.nii.gz" }
                    else if ( filename.contains("_rd_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-rd_dwimap.nii.gz" }
                    else if ( filename.contains("_md_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-md_dwimap.nii.gz" }
                    else if ( filename.contains("_mode_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-mode_dwimap.nii.gz" }
                    else if ( filename.contains("_ga_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-ga_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_total_") ) { "${meta.id}_${ses}space-${params.template}_model-csd_param-afdtotal_dwimap.nii.gz" }
                    else if ( filename.contains("_nufo_") ) { "${meta.id}_${ses}space-${params.template}_model-csd_param-nufo_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_max_") ) { "${meta.id}_${ses}space-${params.template}_model-csd_param-afdmax_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_sum_") ) { "${meta.id}_${ses}space-${params.template}_model-csd_param-afdsum_dwimap.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPRGB' {
        ext.interpolation = 'Linear'
        ext.dimensionality = 3
        ext.image_type = 3
        ext.output_dtype = "uchar"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("_rgb_") ) { "${meta.id}_${ses}space-${params.template}_model-tensor_param-rgb_dwimap.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ]
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPMASK' {
        ext.interpolation = 'NearestNeighbor'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "int"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("mask_wm") ) { "${meta.id}_${ses}space-${params.template}_label-WM_mask.nii.gz" }
                    else if ( filename.contains("mask_gm") ) { "${meta.id}_${ses}space-${params.template}_label-GM_mask.nii.gz" }
                    else if ( filename.contains("mask_csf") ) { "${meta.id}_${ses}space-${params.template}_label-CSF_mask.nii.gz" }
                    else if ( filename.contains("wm_mask") ) { "${meta.id}_${ses}space-${params.template}_label-WM_mask.nii.gz" }
                    else if ( filename.contains("gm_mask") ) { "${meta.id}_${ses}space-${params.template}_label-GM_mask.nii.gz" }
                    else if ( filename.contains("csf_mask") ) { "${meta.id}_${ses}space-${params.template}_label-CSF_mask.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:WARPLABELS' {
        ext.interpolation = 'NearestNeighbor'
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "int"
        ext.default_val = 0
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("labels") ) {(meta.age < 2.5 || meta.age > 18) ? "${meta.id}_${ses}space-${params.template}_seg-DK_dseg.nii.gz" : "${meta.id}_${ses}space-${params.template}_seg-BrainnetomeChild_dseg.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
            ],
        ]
    }
    withName: '.*:OUTPUT_TEMPLATE_SPACE:REGISTRATION_TRACTOGRAM' {
        ext.inverse = true
        ext.force = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("pft_tracking") ) { "${meta.id}_${ses}space-${params.template}_tract-wholebrain_track-pft_tractogram.trk" }
                else if ( filename.contains("local_tracking") ) { "${meta.id}_${ses}space-${params.template}_tract-wholebrain_track-sdstream_tractogram.trk" }
                else if ( filename.contains("concatenated_tractogram") ) { "${meta.id}_${ses}space-${params.template}_tract-wholebrain_track-sdstream_desc-ensemble_tractogram.trk" }
                else if ( filename.contains("commit") ) { (meta.age < 2.5 || meta.age > 18) ? "${meta.id}_${ses}space-${params.template}_tract-wholebrain_seg-DK_desc-filtered_tractogram.h5" : "${meta.id}_${ses}space-${params.template}_tract-wholebrain_seg-BrainnetomeChild_desc-filtered_tractogram.h5" }
                else if ( filename.contains("afd_fixel.h5") ) { (meta.age < 2.5 || meta.age > 18) ? "${meta.id}_${ses}space-${params.template}_tract-wholebrain_seg-DK_desc-preproc_tractogram.h5" : "${meta.id}_${ses}space-${params.template}_tract-wholebrain_seg-BrainnetomeChild_desc-preproc_tractogram.h5" }
                else if ( filename.contains("versions.yml") ) { null }
            }
        ]
    }
}
