/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params.preproc_dwi_run_denoising = params.run_dwi_denoising
params.preproc_dwi_run_degibbs = params.run_gibbs_correction
params.topup_eddy_run_topup = params.run_topup
params.topup_eddy_run_eddy = params.run_eddy
params.preproc_dwi_run_N4 = true
params.preproc_dwi_run_resampling = params.run_resample_dwi

process {
    withName: ".*:TRACTOFLOW:PREPROC_DWI:DENOISE_DWI" {
        ext.extent = params.extent
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:DENOISE_REVDWI" {
        ext.extent = params.extent
    }

    // withName: '.*:TRACTOFLOW:PREPROC_DWI:PREPROC_GIBBS_DWI' {

    // }

    // withName: '.*:TRACTOFLOW:PREPROC_DWI:PREPROC_GIBBS_REVDWI' {

    // }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:UTILS_EXTRACTB0" {
        ext.b0_extraction_strategy = "mean"
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_TOPUP" {
        ext.prefix_topup            = params.prefix_topup
        ext.default_config_topup    = params.config_topup
        ext.encoding                = params.encoding_direction  //FIXME : this is subject bound, pass through meta ?
        ext.readout                 = params.readout             //FIXME : this is subject bound, pass through meta ?
        ext.b0_thr_extract_b0       = params.b0_thr_extract_b0
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY" {
        ext.prefix_topup                            = params.prefix_topup
        ext.slice_drop_flag                         = params.use_slice_drop_correction
        ext.bet_topup_before_eddy_f                 = params.bet_topup_before_eddy_f
        ext.eddy_cmd                                = params.eddy_cmd
        ext.dilate_b0_mask_prelim_brain_extraction  = params.dilate_b0_mask_prelim_brain_extraction
        ext.bet_prelim_f                            = params.bet_prelim_f
        ext.b0_thr_extract_b0                       = params.b0_thr_extract_b0
        ext.encoding                                = params.encoding_direction  //FIXME : this is subject bound, pass through meta ?
        ext.readout                                 = params.readout //FIXME : this is subject bound, pass through meta ?
        ext.run_qc                                  = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("bvec") ) { "${meta.id}${meta.session}_desc-preproc_dwi.bvec" }
                else if ( filename.contains("bval") ) {"${meta.id}${meta.session}_desc-preproc_dwi.bval"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:BETCROP_FSLBETCROP" {
        ext.bet_f   = params.bet_dwi_final_f
        ext.b0_thr  = params.b0_thr_extract_b0
        ext.crop    = true
        ext.dilate  = false
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:N4_DWI" {
        ext.bspline_knot_per_voxel  = 0.25
        ext.shrink_factor           = 2
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:NORMALIZE_DWI" {
        ext.dwi_shell_tolerance = params.dwi_shell_tolerance
        ext.max_dti_shell_value = params.max_dti_shell_value
        ext.dti_shells = params.dti_shells
        ext.fa_mask_threshold = params.fa_mask_threshold
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:RESAMPLE_DWI" {
        ext.voxel_size      = params.dwi_resolution
        ext.interp          = params.dwi_interpolation
        ext.first_suffix    = "dwi"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("_resampled.nii.gz") ) { "${meta.id}${meta.session}_desc-preproc_dwi.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:EXTRACTB0_RESAMPLE" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("_b0.nii.gz") ) { "${meta.id}${meta.session}_desc-preproc_b0.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:RESAMPLE_MASK" {
        ext.interp          = "nn"
        ext.first_suffix    = "dwi_mask"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("_resampled.nii.gz") ) { "${meta.id}${meta.session}_desc-brain_mask.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
