/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
params.preproc_t1_run_denoising = params.run_t1_denoising
params.preproc_t1_run_N4 = true
params.preproc_t1_run_synthbet = false
params.preproc_t1_run_ants_bet = true
params.preproc_t1_run_crop = true
params.preproc_t1_run_resampling = params.run_resample_t1

process {
    withName: ".*:TRACTOFLOW:PREPROC_T1:DENOISING_NLMEANS" {
        ext.basic_sigma     = true
        ext.number_of_coils = 1
    }

    withName: ".*:TRACTOFLOW:PREPROC_T1:IMAGE_RESAMPLE" {
        ext.voxel_size      = params.t1_resolution
        ext.interp          = params.t1_interpolation
        ext.first_suffix    = "t1"
    }

    withName: ".*:TRACTOFLOW:PREPROC_T1:BETCROP_ANTSBET" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith("t1_bet.nii.gz")) { "${meta.id}${meta.session}_T1w.nii.gz" }
                else if (filename.endsWith("t1_bet_mask.nii.gz")) { "${meta.id}${meta.session}_desc-brain_mask.nii.gz" }
                else { null }
            },
            enabled: params.clean_output
        ]
    }

    withName: '.*:TRACTOFLOW:PREPROC_T1:IMAGE_CROPVOLUME_T1' {
        ext.output_bbox     = true
        ext.first_suffix    = "t1"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename -> filename.endsWith("_t1_cropped.nii.gz") ? "${meta.id}${meta.session}_space-T1w_desc-preproc_T1w.nii.gz" : null }
        ]
    }

    withName: '.*:TRACTOFLOW:PREPROC_T1:IMAGE_CROPVOLUME_MASK' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename -> filename.endsWith("_cropped.nii.gz") ? "${meta.id}${meta.session}_space-T1w_desc-brain_mask.nii.gz" : null }
        ]
    }

    withName: '.*:TRACTOFLOW:T1_REGISTRATION:REGISTRATION_ANATTODWI' {
        publishDir = [
            [
                // Based on: https://bids.neuroimaging.io/extensions/beps/bep_014.html
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/xfm" : "${params.outdir}/${meta.id}/xfm" },
                mode: params.publish_dir_mode,
                enabled: params.clean_output,
                pattern: "*{warp.nii.gz,affine.mat}",
                saveAs: { filename ->
                    if (filename.endsWith("_forward1_affine.mat")) { "${meta.id}${meta.session}_from-T1w_to-dwi_mode-image_desc-affine_xfm.mat" }
                    else if (filename.endsWith("_forward0_warp.nii.gz")) { "${meta.id}${meta.session}_from-T1w_to-dwi_mode-image_desc-warp_xfm.nii.gz" }
                    else if (filename.endsWith("_backward1_warp.nii.gz")) { "${meta.id}${meta.session}_from-dwi_to-T1w_mode-image_desc-warp_xfm.nii.gz" }
                    else if (filename.endsWith("_backward0_affine.mat")) { "${meta.id}${meta.session}_from-dwi_to-T1w_mode-image_desc-affine_xfm.mat" }
                    else { null }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session.replaceAll('_', '')}/anat" : "${params.outdir}/${meta.id}/anat" },
                mode: params.publish_dir_mode,
                enabled: params.clean_output,
                pattern: "*warped.nii.gz",
                saveAs: { filename ->
                    if (filename.endsWith("warped.nii.gz")) { "${meta.id}${meta.session}_space-dwi_desc-preproc_T1w.nii.gz" }
                    else { null }
                }
            ]
        ]
    }
}
