/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {

    withName: ".*:RECONST_SHSIGNAL" {
        ext.dwi_shell_tolerance = params.dwi_shell_tolerance
        ext.b0_thr_extract_b0   = params.b0_thr_extract_b0
        ext.shell_to_fit        = params.sh_fitting_shells
        ext.sh_order            = params.sh_fitting_order
        ext.sh_basis            = params.sh_fitting_basis
    }
}
