/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {

    withName: ".*:TRACTOFLOW:RECONST_DTIMETRICS" {
        ext.ad                  = true
        ext.evecs               = true
        ext.evals               = true
        ext.fa                  = true
        ext.ga                  = true
        ext.rgb                 = true
        ext.md                  = true
        ext.mode                = true
        ext.norm                = true
        ext.rd                  = true
        ext.tensor              = true
        ext.nonphysical         = true
        ext.pulsation           = true
        ext.residual            = true
        ext.max_dti_shell_value = params.max_dti_shell_value
        ext.dti_shells          = params.dti_shells
        ext.run_qc              = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("ad.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-ad_dwimap.nii.gz" }
                else if ( filename.contains("fa.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-fa_dwimap.nii.gz" }
                else if ( filename.contains("rd.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-rd_dwimap.nii.gz" }
                else if ( filename.contains("md.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-md_dwimap.nii.gz" }
                else if ( filename.contains("mode.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-mode_dwimap.nii.gz" }
                else if ( filename.contains("tensor.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-tensor_dwimap.nii.gz" }
                else if ( filename.contains("rgb.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-rgb_dwimap.nii.gz" }
                else if ( filename.contains("ga.nii.gz") ) { "${meta.id}${meta.session}_model-tensor_param-ga_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
