/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: ".*:TRACTOFLOW:RECONST_FRF" {
        ext.fa          = params.fa
        ext.fa_min      = params.min_fa
        ext.nvox_min    = params.min_nvox
        ext.roi_radius  = params.roi_radius
        ext.set_frf     = params.manual_frf ? true : false
        ext.manual_frf  = params.manual_frf

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("__frf.txt") ) { "${meta.id}${meta.session}_frf.txt" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    //withName: "RECONST_MEANFRF" {
        // Nothing to do !
    //}

    withName: ".*:TRACTOFLOW:RECONST_FODF" {
        ext.b0_thr_extract_b0       = params.b0_thr_extract_b0
        ext.dwi_shell_tolerance     = params.dwi_shell_tolerance
        ext.min_fodf_shell_value    = params.min_fodf_shell_value
        ext.fodf_shells             = params.fodf_shells
        ext.sh_order                = params.sh_order
        ext.sh_basis                = params.basis
        ext.fa_threshold            = params.max_fa_in_ventricle
        ext.md_threshold            = params.min_md_in_ventricle
        ext.relative_threshold      = params.relative_threshold
        ext.fodf_metrics_a_factor   = params.fodf_metrics_a_factor
        ext.absolute_peaks          = true
        ext.peaks                   = true
        ext.peak_indices            = true
        ext.afd_max                 = true
        ext.afd_total               = true
        ext.afd_sum                 = true
        ext.nufo                    = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("__fodf.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-sh_dwimap.nii.gz" }
                else if ( filename.contains("wm_fodf.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-wmsh_dwimap.nii.gz" }
                else if ( filename.contains("gm_fodf.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-gmsh_dwimap.nii.gz" }
                else if ( filename.contains("csf_fodf.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-csfsh_dwimap.nii.gz" }
                else if ( filename.contains("peaks.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-peaks_dwimap.nii.gz" }
                else if ( filename.contains("afd_total.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-afdtotal_dwimap.nii.gz" }
                else if ( filename.contains("nufo.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-nufo_dwimap.nii.gz" }
                else if ( filename.contains("afd_max.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-afdmax_dwimap.nii.gz" }
                else if ( filename.contains("afd_sum.nii.gz") ) { "${meta.id}${meta.session}_model-csd_param-afdsum_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
