/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:REGISTRATION_METRICS_TO_ORIG" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("ad") ) { "${meta.id}_${ses}space-orig_model-tensor_param-ad_dwimap.nii.gz" }
                    else if ( filename.contains("_fa_") ) { "${meta.id}_${ses}space-orig_model-tensor_param-fa_dwimap.nii.gz" }
                    else if ( filename.contains("_rd_") ) { "${meta.id}_${ses}space-orig_model-tensor_param-rd_dwimap.nii.gz" }
                    else if ( filename.contains("_md_") ) { "${meta.id}_${ses}space-orig_model-tensor_param-md_dwimap.nii.gz" }
                    else if ( filename.contains("_mode_") ) { "${meta.id}_${ses}space-orig_model-tensor_param-mode_dwimap.nii.gz" }
                    else if ( filename.contains("_ga_") ) { "${meta.id}_${ses}space-orig_model-tensor_param-ga_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_total_") ) { "${meta.id}_${ses}space-orig_model-csd_param-afdtotal_dwimap.nii.gz" }
                    else if ( filename.contains("_nufo_") ) { "${meta.id}_${ses}space-orig_model-csd_param-nufo_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_max_") ) { "${meta.id}_${ses}space-orig_model-csd_param-afdmax_dwimap.nii.gz" }
                    else if ( filename.contains("_afd_sum_") ) { "${meta.id}_${ses}space-orig_model-csd_param-afdsum_dwimap.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                }
        ]
    }
}
