/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:ATLAS_IIT:THR_BUNDLE_MASK" {
        ext.prefix = { "${meta.id}" }
    }

    withName: ".*:STATS_METRICSINROI" {
        ext.key_substrs_to_remove = {["${task.ext.prefix}_", "_mask_warped"]}
        ext.value_substrs_to_remove = {["${task.ext.prefix}__", "${task.ext.prefix}_desc-fwc__"]}
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains(".csv") ) { "${meta.id}${meta.session}_atlas-iit_desc-roi_stats.csv" }
                else if ( filename.contains(".tsv") ) { "${meta.id}${meta.session}_atlas-iit_desc-roi_stats.tsv" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}

includeConfig '../../subworkflows/nf-neuro/atlas_iit/nextflow.config'
