/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: ".*:TRACTOFLOW:TRACKING_PFTTRACKING" {
        ext.pft_seeding_mask_type           = params.pft_seeding_mask_type
        ext.pft_fa_seeding_mask_threshold   = params.pft_fa_seeding_mask_threshold
        ext.pft_seeding                     = params.pft_seeding
        ext.pft_nbr_seeds                   = params.pft_nbr_seeds
        ext.pft_algo                        = params.pft_algo
        ext.pft_step                        = params.pft_step
        ext.pft_theta                       = params.pft_theta
        ext.pft_sfthres                     = params.pft_sfthres
        ext.pft_sfthres_init                = params.pft_sfthres_init
        ext.pft_min_len                     = params.pft_min_len
        ext.pft_max_len                     = params.pft_max_len
        ext.pft_particles                   = params.pft_particles
        ext.pft_back                        = params.pft_back
        ext.pft_front                       = params.pft_front
        ext.pft_random_seed                 = params.pft_random_seed
        ext.pft_compress_streamlines        = params.pft_compress_value > 0
        ext.pft_compress_value              = params.pft_compress_value
        ext.basis                           = params.basis
        ext.run_qc                          = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("local_tracking.trk") ) { "${meta.id}${meta.session}_desc-pft_tractogram.trk" }
                else if ( filename.contains("seeding_mask") ) { "${meta.id}${meta.session}_space-DWI_label-seeding_desc-pft_mask.nii.gz" }
                else if ( filename.contains("tracking_mask") ) { "${meta.id}${meta.session}_space-DWI_label-tracking_desc-pft_mask.nii.gz"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:TRACTOFLOW:TRACKING_LOCALTRACKING" {
        ext.enable_gpu                          = params.local_tracking_gpu
        ext.gpu_batch_size                      = params.local_tracking_gpu ? params.local_batch_size_gpu : null
        ext.local_tracking_mask_type            = params.local_tracking_mask_type
        ext.local_fa_tracking_mask_threshold    = params.local_fa_tracking_mask_threshold
        ext.local_seeding_mask_type             = params.local_seeding_mask_type
        ext.local_fa_seeding_mask_threshold     = params.local_fa_seeding_mask_threshold
        ext.local_seeding                       = params.local_seeding
        ext.local_nbr_seeds                     = params.local_nbr_seeds
        ext.local_algo                          = params.local_algo
        ext.local_step                          = params.local_step
        ext.local_theta                         = params.local_theta
        ext.local_sfthres                       = params.local_sfthres
        ext.local_min_len                       = params.local_min_len
        ext.local_max_len                       = params.local_max_len
        ext.local_random_seed                   = params.local_random_seed
        ext.local_compress_streamlines          = params.local_compress_value > 0
        ext.local_compress_value                = params.local_compress_value
        ext.basis                               = params.basis
        ext.run_qc                              = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("local_tracking.trk") ) { "${meta.id}${meta.session}_desc-local_tractogram.trk" }
                else if ( filename.contains("seeding_mask") ) { "${meta.id}${meta.session}_space-DWI_label-seeding_desc-local_mask.nii.gz" }
                else if ( filename.contains("tracking_mask") ) { "${meta.id}${meta.session}_space-DWI_label-tracking_desc-local_mask.nii.gz"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:ENSEMBLE_TRACKING" {
        ext.operation       = "union"
        ext.save_indices    = true
        ext.save_empty      = true
        ext.no_bbox_check   = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("_tracking.trk") ) { "${meta.id}${meta.session}_desc-ensemble_tractogram.trk" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
