/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:TRACTOGRAM_REMOVEINVALID" {
        ext.force = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.5
        ext.no_empty = true
    }

//    withName: ".*:BUNDLE_FIXELAFD" {
//        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
//    }

    withName: ".*:TRACTOGRAM_RESAMPLE" {
        ext.nb_points = params.nb_points
    }

    withName: ".*:BUNDLE_CENTROID" {
        ext.nb_points = params.nb_points
    }

    withName: ".*:BUNDLE_LABELMAP" {
        ext.nb_points = params.nb_points
        ext.colormap = "jet"
        ext.new_labelling = true
    }

//    withName: ".*:BUNDLE_UNIFORMIZE" {
//        ext.method = "centroid"
//    }

    withName: ".*:BUNDLE_STATS" {
        ext.density_weighting = true
        ext.normalize_weights = true
        ext.length_stats = true
        ext.endpoints = true
        ext.mean_std = true
        ext.volume = true
        ext.volume_per_labels = true
        ext.mean_std_per_point = true
        ext.lesions_stats = false
        ext.min_lesion_vol = 7
    }
}

