/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scilus/sf-tractomics IIT tractometry preset config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preset enabling NODDI, Freewater and atlas ROI metrics while disabling tracking,
    tractometry, bundle segmentation and q-ball related options.
----------------------------------------------------------------------------------------
*/

params.run_pft_tracking = false
params.run_local_tracking = false
params.run_tractometry = false
params.run_bundle_seg = false
params.sh_fitting = false
params.run_qball = false

params.run_noddi = true
params.run_freewater = true
params.run_atlas_roimetrics = true
