/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

    //**Processes Maximum CPU allocation**//
params.processes_denoise_dwi                           = 4
params.processes_eddy                                  = 4
params.processes_fodf                                  = 4
params.processes_local_tracking                        = 4
params.processes_denoise_t1                            = 4
params.processes_brain_extraction_t1                   = 4
params.processes_registration                          = 4
params.processes_noddi                                 = 1
params.processes_freewater_correction                  = 1
params.processes_bundle_seg                            = 4

process {

    withName: ".*:BUNDLE_SEG:BUNDLE_RECOGNIZE" {
        ext.rbx_processes = params.processes_bundle_seg
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:DENOISE_DWI" {
        cpus = params.processes_denoise_dwi
        }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:DENOISE_REVDWI" {
        cpus = params.processes_denoise_dwi
    }

    withName: ".*:TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY" {
        cpus = params.processes_eddy
    }

    withName: ".*:TRACTOFLOW:PREPROC_T1:DENOISING_NLMEANS" {
        cpus = params.processes_denoise_t1
    }

    withName: ".*:TRACTOFLOW:PREPROC_T1:BETCROP_ANTSBET" {
        cpus = params.processes_brain_extraction_t1
    }

    withName: ".*:TRACTOFLOW:RECONST_FODF" {
        cpus = params.processes_fodf
    }

    withName: ".*:RECONST_NODDI" {
        ext.nb_threads = params.processes_noddi
    }

    withName: ".*:RECONST_FREEWATER" {
        ext.nb_threads      = params.processes_freewater_correction
    }

    withName: ".*:TRACTOFLOW:TRACKING_LOCALTRACKING" {
        cpus = params.processes_local_tracking
    }
}
