/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// ** For linting purposes, this files concatenates all the config files. ** //
params.preproc_dwi_run_denoising = params.run_dwi_denoising
params.preproc_dwi_run_degibbs = params.run_gibbs_correction
params.topup_eddy_run_topup = params.run_topup
params.topup_eddy_run_eddy = params.run_eddy
params.preproc_dwi_run_N4 = true
params.preproc_t1_run_denoising = params.run_t1_denoising
params.preproc_t1_run_N4 = true
params.preproc_t1_run_synthbet = false
params.preproc_t1_run_ants_bet = true
params.preproc_t1_run_crop = true
params.preproc_dwi_run_resampling = params.run_resample_dwi
params.preproc_t1_run_resampling = params.run_resample_t1
params.run_pft = params.run_pft_tracking
params.frf_average_from_data = params.mean_frf
params.run_tractometry = params.run_tractometry

includeConfig './modules/preproc_dwi.config'
includeConfig './modules/preproc_t1.config'
includeConfig './modules/mask.config'
includeConfig './modules/reconst_dti.config'
includeConfig './modules/reconst_fodf.config'
includeConfig './modules/reconst_sh.config'
includeConfig './modules/tracking.config'
includeConfig './modules/bundle_seg.config'
includeConfig './modules/reconst_qball.config'
includeConfig './modules/reconst_fw_noddi.config'
includeConfig './modules/stats_metricsinroi.config'
includeConfig './modules/qc.config'
includeConfig './modules/tractometry.config'
