/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run scilus/nf-tractoflow -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input  = "https://scil.usherbrooke.ca/scil_test_data/dvc-store/files/md5/c0/9dd7d33afb95068a253e3a49f810e2"

    sh_fitting_shells = "0 1000"
    pft_seeding = "npv"
    pft_nbr_seeds = 1
    local_seeding = "npv"
    local_nbr_seeds = 1
    pft_back = 0.5
    pft_front = 0.5
    run_pft_tracking = true
    run_local_tracking= true
}
