process {
    ext.meta_columns = ['sex', 'unknown', 'age', 'site'] // "unknown" is not within the meta map, but should be included in the output with an empty values
    ext.mean_std = true
    ext.mean_std_per_point = true
    ext.volume = true
    ext.length_stats = true
    ext.volume_per_labels = true
}
