process {
    // We set some default resource limits here, since these operations will
    // always be performed on the same data, and this spawns a lot of processes.
    // These limits are especially important when running on HPC clusters to avoid
    // asking for too much resources for very simple tasks.
    withName: '.*ATLAS_IIT:THR_BUNDLE_MASK' {
        ext.operation = 'lower_threshold'
        ext.suffix    = 'mask'
        ext.data_type = 'int32'
    }

    withName: '.*ATLAS_IIT:SMOOTH_MASK' {
        ext.operation = 'blur'
        ext.suffix    = 'smoothed'
        ext.data_type = 'float32'
    }

    withName: '.*ATLAS_IIT:THR_SMOOTHED_MASK' {
        ext.operation = 'lower_threshold'
        ext.suffix    = 'mask'
        ext.data_type = 'int32'
    }
}