process {
    withName: "STATS_METRICSINROI" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.bin = true
        ext.normalize_weights = false
        ext.use_label = false
        ext.output_format = 'tsv'
        ext.meta_columns = ['sex', 'unknown', 'age', 'site'] // "unknown" is not within the meta map, but should be included in the output with an empty values
    }
}
