process {
    withName: "HARMONIZATION_CLINICALCOMBAT" {
        ext.method = 'clinical'
        ext.bundles = ''
        ext.regul_ref = 0
        ext.regul_mov = -1
        ext.degree = 2
        ext.nu = 5
        ext.tau = 2
        ext.degree_qc = 0
        ext.limit_age_range = false
        ext.ignore_sex = false
        ext.ignore_handedness = false
        ext.no_empiral_bayes = false
    }
}
