process {
    withName: "HARMONIZATION_CLINICALCOMBAT" {
        ext.method = 'pairwise'
        ext.bundles = 'mni_AF_L'
        ext.regul_mov = 0
        ext.degree = 1
        ext.degree_qc = 0
        ext.limit_age_range = false
        ext.ignore_sex = false
        ext.ignore_handedness = false
        ext.no_empiral_bayes = false
    }
}
